DATABASE_URL=postgresql://postgres:root@localhost:5432/project_management
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dhajlu5ib
CLOUDINARY_API_KEY=627189168879258
CLOUDINARY_API_SECRET=RWQ1Dx3ZRTObF5JEoNXE5fQf_Xg

# Redis Configuration
REDIS_URL=REDIS_URL=rediss://default:gQAAAAAAAZ2tAAIgcDIxOGQzNzMxMDFkYTg0NWNmYmJjMDJkNjEwZDEwZTM4YQ@resolved-sheepdog-105901.upstash.io:6379